torch>=2.9.0
adam-atan2>=0.0.3
einops>=0.8.1
tqdm>=4.67.1
coolname>=2.2.0
pydantic>=2.12.3
pydantic-core>=2.41.4
argdantic>=1.3.3
wandb>=0.22.2
omegaconf>=2.3.0
hydra-core>=1.3.2
huggingface-hub>=1.0.1
packaging>=25.0
ninja>=1.13.0
wheel>=0.45.1
setuptools>=80.9.0
setuptools-scm>=9.2.2
numba>=0.62.1
triton-windows; platform_system == "Windows"
triton; platform_system != "Windows"