adam-atan2-pytorch
einops
tqdm
coolname
pydantic
pydantic-core
argdantic
wandb
omegaconf
hydra-core
huggingface-hub
packaging
ninja>=1.13.0
wheel>=0.45.1
setuptools>=80.9.0
setuptools-scm>=9.2.2
numba
fastai 
gradio 
triton-windows; platform_system == "Windows"
triton; platform_system != "Windows"
ipython
torchaudio 
torchvision
flash-attn
datasets
scikit-learn 

joblib
opencv-python
orjson
lz4

# Intel iGPU deployment
openvino
openvino-dev

Pillow
pygments
ultralytics
huggingface_hub[hf_xet]